body, html {
    font-family: monospace;
    background-color: #121212;
    color: white;
    margin: auto;
    padding: 0;
    max-width: 1000px;
    overflow: hidden;
    height: 100%;
}

#title {
    text-align: center;
    font-size: 3em;
    margin-bottom: 1.5em;
}

.nav {
    margin: auto;
    width: 400px;
    text-align: center;
}

.nav ul {
    padding: 0;
    list-style-type: none;
}

.nav ul li {
    display: inline-block;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 16px;
}

.nav ul li:not(:first-child) {
    border-left: 1px solid white;
}

.nav ul li a:hover {
    text-decoration: underline;
    color: rgb(204, 204, 204);
    cursor: pointer;
}

.socials {
    margin: 5em auto;
    justify-content: center;
    display: flex;
    max-width: 1000px;
}

.social-media {
    text-align: center;
}

.social-media img {
    height: 100px;
}

.social-media:not(:first-child) {
    margin-left: 40px;
}

.footer {
    text-align: center;
    width: 100%;
    background-color: #212121;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
}

.footer p {
    word-break: break-all;
}

.footer-link {
    color: #1d4564;
    text-decoration: underline;
}

@media only screen and (max-width: 400px) {
    .socials {
        display: block;
    }

    .social-media:not(:first-child) {
        margin-left: 0px;
    }

    .social-media:last-child {
        margin-bottom: 2em;
    }
  }
