@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

html, body {
    font-family: 'Open Sans', sans-serif;
    background-color: #121212;
    color: white;
}

.main {
    max-width: 500px;
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
}

.main h1 {
    text-align: center;
}

.nav {
    text-align: center;
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
}
.nav li {
    padding: 8px 10px;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav li:hover {
    background-color: #515151;
}

.content {
    margin-top: 40px;
}