.projects-list div {
    border-left: 3px solid #3a3ca1;
    padding: 10px 15px;
}

.projects-list p {
    padding: 0px;
    padding-bottom: 10px; 
}

.projects-list div .project-title{
    color: white;
    font-size: large;
    margin: 0px;
}

.take-a-look {
    background-color: #4e4e4e;
    color: white;
    font-size: 14px;
    padding: 8px;
    text-decoration: none;
    border-radius: 10px;
}

.projects-list div:not(:last-child) {
    margin-bottom: 20px;
}

.project-info p {
    border-left: 3px solid #3a3ca1;
    padding: 10px 15px;
}